<img src="https://images01.nicepagecdn.com/page/47/41/css-template-preview-474176.webp" alt="THANK YOU" class="pt-10 pl-72">
<br>
<hr>




<a href="#" class="ml-10 mt-8 flex flex-col items-center bg-green -100 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6slT6YTrklLBtwi2kz372tiBzQOeSyi8J7A&usqp=CAU" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-3 font-black text-5xl bg-black text-white dark:text-white">A Special Thanks to GOPI SIR</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Working under your leadership has shaped my career in numerous ways. I’ve learned Many imortant skills, and I couldn’t have done it without you. Thank you for your guidance and constant support.</p>
      <p>I'm very grateful for everything that you've done for me and it's an honor to put your guidance into practice every day.</p>
  </div>
</a>







<h1> i would thank to my Mentors</h1>

<div class="w-full max-w-md p-4 pl-24 ml-96 mt-20 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 bg-orange-100">

 <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
              <div class="flex items-center">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="https://media.licdn.com/dms/image/D5603AQFHYRlOjR9vLA/profile-displayphoto-shrink_800_800/0/1682228599713?e=2147483647&v=beta&t=_Ra7fiu3a6f45JWUJisT5yWeyx_DxxETd0pdVl7MZuw" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          GUNASEKARAN
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $320
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="" alt="Bonnie image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        VINOTH KUMAR
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $3467
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="https://media.licdn.com/dms/image/D5603AQGJE5kpIw2qqQ/profile-displayphoto-shrink_800_800/0/1710680142895?e=2147483647&v=beta&t=ajJMfgu3MhOu-L7lPsemlUrHYu-SzmueuNTdvJTNXII" alt="Michael image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          MANI BARATHI
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $67
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXjyFUTgdnNdJqWJz8UvQHPni-lHYpCxwywQ&usqp=CAU" alt="Lana image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          SANTHOSH GANDHI
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $367
                  </div>
              </div>
          </li>
          <li class="pt-3 pb-0 sm:pt-4">
              <div class="flex items-center ">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-5.jpg" alt="Thomas image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          BALACHANDAR
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $2367
                  </div>
              </div>
          </li>
      </ul>
 </div>
</div>





<h1> i would also thank you my co-mentors</h1>
<div class="flex justify-end">
<div class="w-full max-w-md p-4 pl-24 mr-5 ml-96 mt-20 border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700 bg-orange-100 ">

 <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
              <div class="flex items-center">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        SURENDHAR
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $320
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="" alt="Bonnie image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        ANBU JEROME
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $3467
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="" alt="Michael image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                         ANANDHABALAN
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $67
                  </div>
              </div>
          </li>
          <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="" alt="Lana image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          VENGATESH
                      </p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                          email.com
                      </p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                      $367
                  </div>
              </div>
          </li>

      </ul>
 </div>
</div>
</div>







<a href="#" class="ml-10 mt-8 flex flex-col items-center bg-green -100 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ10K59tYOD_mml7HG5n2zmEP-s5oQphm2VYHjkR4MTNQDY1Pmv-3CgyzhDYE18nFFWbts&usqp=CAU" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-3 font-black text-5xl bg-black text-white dark:text-white">A Special Thanks to TeamLeaders,and Human Resource SIR</h5>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          SURENDHAR
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email.com
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        $320
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center ">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="" alt="Bonnie image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                          ANBU JEROME
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email.com
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        $3467
                    </div>
                </div>
            </li>
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="" alt="Michael image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                           ANANDHABALAN
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            email.com
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        $67
                    </div>
                </div>
            </li>
        </ul>
   </div>
  </div>
</a>
