<div class="flex justify-center pt-20">
  <a
    class="flex flex-col items-center bg-gray-100 border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-72 md:rounded-none md:rounded-s-lg"
      src="https://img.freepik.com/free-vector/global-data-security-personal-data-security-cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37336.jpg?t=st=1712986976~exp=1712990576~hmac=751f6a63056f1f91a1db3c2b16f56b26ea9696320772e8012284e12c4737db9b&w=740"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <!-- for signin form -->
      @if (isLoginMode) {
      <div class="px-8">
        <h2>LOGIN</h2>
        <br />
        <form [formGroup]="loginForm">
          <h3
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            USERNAME
          </h3>
          <input
            type="text"
            placeholder="Enter USERNAME"
            formControlName="USERNAME"
          />
          @if (loginForm.get('USERNAME')?.invalid && isSubmitted) {
          <small>*USERNAME is Required</small>}

          <br />
          <br />

          <h3
            class="title-font font-semibold text-gray-900 tracking-widest text-xs"
          >
            PASSWORD
          </h3>
          <input
            type="text"
            placeholder="Enter PASSWORD"
            formControlName="PASSWORD"
          />
          @if (loginForm.get('PASSWORD')?.invalid && isSubmitted) {
          <small>*PASSWORD is Required</small>}

          <br />
          <br />
        </form>
      </div>
      }

      <!-- for signup form -->
      @if (!isLoginMode) {
      <div class="px-8">
        <h2>Sign Up</h2>
        <form [formGroup]="signupForm">
          <input
            type="text"
            placeholder="Enter NAME"
            formControlName="USERNAME"
          />
          @if (signupForm.get('USERNAME')?.invalid && isSubmitted) {<small
            >*USERNAME is Required</small
          >}

          <br />
          <br />

          <input
            type="email"
            placeholder="Enter EMAIL"
            formControlName="EMAIL"
          />
          @if (isTrueMail) {<span style="color: tomato">{{ Mail }}</span
          >} @if (signupForm.get('EMAIL')?.invalid && isSubmitted) {
          <small>*Email is Required</small>}

          <br />
          <br />

          <input
            type="text"
            (keyup)="passwordValidator($event)"
            placeholder="Enter PASSWORD"
            formControlName="PASSWORD"
          />

          @if (isPasswordValidator) {
          <div>
            @if (isLowerCase==true) {<span>*one lowercase is must</span>} <br />
            @if (isUpperCase==true) {<span>*one uppercase is must</span>} <br />
            @if (isNumber) {<span>*(0-9) is must</span>} <br />
            @if (isMinChar) {<span>*minimum 8 characters is must</span>} <br />
            @if (isSpecialChar) {<span>*special characters is must</span>}
          </div>
          } @if (signupForm.get('PASSWORD')?.invalid && isSubmitted) {
          <small>*PASSWORD is Required</small>}

          <br />
          <br />

          <input
            type="text"
            placeholder="CONFIRMPASSWORD"
            formControlName="CONFIRMPASSWORD"
          />
          @if (!isconfirmpassword) {<span>Password Mismatch</span>} @if
          (signupForm.get('CONFIRMPASSWORD')?.invalid && isSubmitted) {
          <small>*confirm password is must</small>}
        </form>
      </div>
      }

      <div class="px-10 pt-5">
        <button type="submit" (click)="login()">
          {{ isLoginMode ? "Login" : "Submit" }}
        </button>

        <br />
        <br />
      </div>

      <div class="px-3">
        <button (click)="toggleMode()">
          Switch to {{ isLoginMode ? "Signup" : "Login" }}
        </button>
      </div>
    </div>

    @if (isLoading) {
    <div class="loading">
      <img src="./assets/image/loader.gif" />
    </div>
    }
  </a>
</div>
